<div style="margin: 0 auto;max-width: 450px;border: 2px solid #EE5525;padding: 20px;">
  <div style="height: 3px;background-color: #FBD219;"></div>
  <div style="font-weight: bold;padding: 10px;text-align: center;">
    Dear <%= @ticket.name %>,
  </div>
  <div style="font-weight: bold;font-size: 30px;color: #EE5525;padding: 5px;text-align: center;text-shadow: -2px 2px #FBD219;">
    T H A N K &nbsp;&nbsp; Y O U
  </div>
  <div style="padding: 10px;text-align: center;">
    for purchasing <b>NUANSA 2019: Lukisan Jati</b>&#39;s <%= 'ticket'.pluralize(@ticket.quantity) %>.
    We have successfully received your booking and payment.
  </div>
  <div style="height: 3px;background-color: #FBD219;"></div>
  
  <p>Here are your booking details:</p>

  <table>
    <tr>
      <td>Date</td>
      <td>:</td>
      <td>Monday, 28th October 2019</td>
    </tr>
    <tr>
      <td>Time</td>
      <td>:</td>
      <% if @ticket.ticket_type.downcase == "night" %>
        <td>7.30 PM</td>
      <% else %>
        <td>2.30 PM</td>
      <% end %>
    </tr>
    <tr>
      <td>Booking code</td>
      <td>:</td>
      <td><%= @ticket.booking_reference %></td>
    </tr>
    <tr>
      <td>Ticket type</td>
      <td>:</td>
      <td><%= @ticket.ticket_type.titleize %></td>
    </tr>
    <tr>
      <td>Quantity</d>
      <td>:</td>
      <td><%= @ticket.quantity %></td>
    </tr>
  </table>
  <p>Do note that the show is free-seating, so do come early to get the best seats!</p>
  <p>Kindly scan this QR code at NUANSA 2019&#39;s ticket booth upon arriving at the venue to redeem your <%= 'ticket'.pluralize(@ticket.quantity) %>:</p>
  <div style="text-align: center;">
    <%= image_tag attachments['QRCode.png'].url, size: "250x250" %>
  </div>

  <p>We look forward to seeing you on the show day!</p>

  <p>If you have any further questions, please contact us through <a href = "mailto:support@nuansacp.com">support@nuansacp.com</a>.</p>
</div>
<div style="margin: 0 auto;max-width: 450px;border: 2px solid #EE5525;padding: 20px;background-color: #EE5525;text-align: center;color: white;font-weight: bold;">
  <p> F I N D &nbsp;&nbsp; U S &nbsp;&nbsp; O N </p>
  <a href="https://www.facebook.com/nuansa.culturalproductions/" style="color: white;font-size: 12px;padding: 5px 5px;text-decoration: none;">Facebook</a> •
  <a href="https://www.instagram.com/nuansacp/" style="color: white;font-size: 12px;padding: 5px 5px;text-decoration: none;">Instagram</a> •
  <a href="https://www.youtube.com/user/NUANSAcp" style="color: white;font-size: 12px;padding: 5px 5px;text-decoration: none;">Youtube</a> •
  <a href="https://www.nuansacp.com" style="color: white;font-size: 12px;padding: 5px 5px;text-decoration: none;">Website</a>
</div>
