<section id="admin" class="section-container">
	<div class="row">
		<div class="title">
			LumiNUS
		</div>
		<%= link_to "Send New Email", admin_write_email_path %>
		<div class="content">

			<br><br>

			<table class="table">
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Email</th>
						<th scope="col">Receive important email</th>
						<th scope="col">Receive marketing email</th>
					</tr>
				</thead>
				<tbody>
					<% @subscribers.each do |subscriber| %>
					<tr>
						<td><%= subscriber.name %></td>
						<td><%= subscriber.email %></td>
						<td><%= subscriber.receive_important_email %></td>
						<td><%= subscriber.receive_marketing_email %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</section>