<section id="gallery" class="section-container">
  <div class="row">
    <div class="title">
      Our Gallery
    </div>
    <div class="content">
      <div class="row no-gutters">
        <div class="col-lg-3 col-md-4">
          <div class="photo-gallery">
            <%= link_to image_tag("gallery/1.jpg", class: "img-fluid"), image_url("1.jpg"), class: "venobox", data: { gall: "photo-gallery" } %>
          </div>
        </div>
        
        <div class="col-lg-3 col-md-4">
          <div class="photo-gallery">
            <%= link_to image_tag("gallery/1.jpg", class: "img-fluid"), image_url("1.jpg"), class: "venobox", data: { gall: "photo-gallery" } %>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="photo-gallery">
            <%= link_to image_tag("gallery/1.jpg", class: "img-fluid"), image_url("1.jpg"), class: "venobox", data: { gall: "photo-gallery" } %>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="photo-gallery">
            <%= link_to image_tag("gallery/1.jpg", class: "img-fluid"), image_url("1.jpg"), class: "venobox", data: { gall: "photo-gallery" } %>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="photo-gallery">
            <%= link_to image_tag("gallery/1.jpg", class: "img-fluid"), image_url("1.jpg"), class: "venobox", data: { gall: "photo-gallery" } %>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="photo-gallery">
            <%= link_to image_tag("gallery/1.jpg", class: "img-fluid"), image_url("1.jpg"), class: "venobox", data: { gall: "photo-gallery" } %>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="photo-gallery">
            <%= link_to image_tag("gallery/1.jpg", class: "img-fluid"), image_url("1.jpg"), class: "venobox", data: { gall: "photo-gallery" } %>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="photo-gallery">
            <%= link_to image_tag("gallery/1.jpg", class: "img-fluid"), image_url("1.jpg"), class: "venobox", data: { gall: "photo-gallery" } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
