<%= form_with(model: event, local: true, url: target_url) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :title, "Title" %> <br>
  <%= form.text_field :title, :required => true%> <br>

  <%= form.label :subtitle, "Subtitle" %> <br>
  <%= form.text_field :subtitle %> <br>

  <%= form.label :overview, "Short Description" %> <br>
  <%= form.text_area :overview %> <br>

  <%= form.label :year, "Year" %> <br>
  <%= form.number_field :year, :required => true%> <br>

  <%= form.label :logo, "Logo" %> <br>
  <%= form.file_field :logo, accept: 'image/png,image/gif,image/jpeg' %>

  <div class="actions">
    <%= form.submit "Upload" %>
  </div>
<% end %>
