<%= form_with(model: event, local: true, url: target_url) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-fields">
    <div class="row">
      <div class="col-lg-2 col-md-12 field-key">
        <%= form.label :year, "Year" %>
      </div>
      <div class="col-lg-10 col-md-12 field-value">
        <%= form.number_field :year, min: 2008, max: 2099, required: true %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-12 field-key">
        <%= form.label :subtitle, "Title" %>
      </div>
      <div class="col-lg-10 col-md-12 field-value">
        <%= form.text_field :title, required: true %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-12 field-key">
        <%= form.label :subtitle, "Subtitle", required: true %>
      </div>
      <div class="col-lg-10 col-md-12 field-value">
        <%= form.text_field :subtitle %> <br>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-12 field-key">
        <%= form.label :logo, "Logo" %>
      </div>
      <div class="col-lg-10 col-md-12 field-value">
        <%= form.file_field :logo, accept: 'image/png,image/gif,image/jpeg', class: "upload-button" %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-12 field-key">
        <%= form.label :overview, "Short Description" %>
      </div>
      <div class="col-lg-10 col-md-12 field-value">
        <%= form.text_area :overview, required: true %>
      </div>
    </div>
    <%= form.fields_for :event_info do |event_info_form| %>
      <div class="row">
        <div class="col-lg-2 col-md-12 field-key">
          <%= event_info_form.label :description, "Full Description" %>
        </div>
        <div class="col-lg-10 col-md-12 field-value">
          <%= event_info_form.text_area :description, required: true %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-md-12 field-key">
          <%= event_info_form.label :synopsis %>
        </div>
        <div class="col-lg-10 col-md-12 field-value">
          <%= event_info_form.text_area :synopsis, required: true %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-md-12 field-key">
          <%= event_info_form.label :video_link %>
        </div>
        <div class="col-lg-10 col-md-12 field-value">
          <%= event_info_form.text_field :video_link, required: true %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-lg-12">
        <%= form.submit 'Submit', class: "submit-button" %>      
      </div>
    </div>
  </div>
<% end %>
