<section id="user-form" class="section-container">
  <div class="row">
    <div class="title">
      Login
    </div>
    <div class="content">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |form| %>
        <div class="form-fields">
          <div class="row">
            <div class="col-lg-12"></div>
            <div class="col-lg-2 col-md-12 field-key">
              <%= form.label :login, "Username or email" %>
            </div>
            <div class="col-lg-10 col-md-12 field-value">
              <%= form.text_field :login, autofocus: true, autocomplete: "email" %>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
            </div>
            <div class="col-lg-2 col-md-12 field-key">
              <%= form.label :password %>
            </div>
            <div class="col-lg-10 col-md-12 field-value">
              <%= form.password_field :password, autocomplete: "current-password" %>
            </div>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="row">
              <div class="col-lg-12">
              </div>
              <div class="col-lg-2 col-md-12 field-key">
                <%= form.label :remember_me %>
              </div>
              <div class="col-lg-10 col-md-12 check-box">
                <%= form.check_box :remember_me %>
              </div>
            </div>
          <% end %>

          <div class="row">
            <div class="col-lg-12">
              <%= form.submit 'Login', class: "submit-button" %>      
            </div>
          </div>
        </div>
      <% end %>

      <%= render "users/shared/links" %>

    </div>
  </div>
</section>
