<%= form_with(model: faq, local: true, url: target_url) do |form| %>
  <% if faq.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(faq.errors.count, "error") %> prohibited this faq from being saved:</h2>

      <ul>
      <% faq.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-fields">
    <div class="row">
      <div class="col-lg-2 col-md-12 field-key">
        <%= form.label :question %>
      </div>
      <div class="col-lg-10 col-md-12 field-value">
        <%= form.text_field :question, required: true %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-12 field-key">
        <%= form.label :answer %>
      </div>
      <div class="col-lg-10 col-md-12 field-value">
        <%= form.text_area :answer, required: true %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-12">
        <%= form.submit 'Submit', class: "submit-button" %>      
      </div>
    </div>
  </div>
<% end %>
