<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if user.has_role? :superuser %>
    <p> Superuser cannot change role </p>
  <% else %>
    Set <%= user.username %> role as: <br \>
    <%= radio_button_tag(:role, "admin", user.has_role?(:admin)) %> Admin <br \>
    <%= radio_button_tag(:role, "user", !(user.has_role?(:admin))) %> Normal User <br \>
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
<% end %>
