<section id="partners" class="wow fadeInUp">
  <div class="container">
    <div class="section-header">
      <h2>Partners</h2>
    </div>

    <div class="row no-gutters partners-wrap clearfix">

      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="partner-logo">
          <%= image_tag("clients/client-1.png", class: "img-fluid") %>
        </div>
      </div>
      
      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="partner-logo">
          <%= image_tag("clients/client-2.png", class: "img-fluid") %>
        </div>
      </div>
    
      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="partner-logo">
          <%= image_tag("clients/client-3.png", class: "img-fluid") %>
        </div>
      </div>
      
      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="partner-logo">
          <%= image_tag("clients/client-4.png", class: "img-fluid") %>
        </div>
      </div>
      
      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="partner-logo">
          <%= image_tag("clients/client-5.png", class: "img-fluid") %>
        </div>
      </div>
    
      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="partner-logo">
          <%= image_tag("clients/client-6.png", class: "img-fluid") %>
        </div>
      </div>
      
      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="partner-logo">
          <%= image_tag("clients/client-7.png", class: "img-fluid") %>
        </div>
      </div>
      
      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="partner-logo">
          <%= image_tag("clients/client-8.png", class: "img-fluid") %>
        </div>
      </div>

    </div>
  </div>
</section>