<% provide(:custom_js, 'home-components/welcome') %>

<%= render 'intro' %>

<main id="main">
  <%= render 'about_us' %>
  <%= render 'past_nuansa' %>
  <%= render 'testimonials' %>
  <%= render 'partners' %>
  <%= render 'faq' %>
  <%=  render 'buy_tickets' %>
  <%# <%= render 'contact_us' %>
</main>
