<%= render 'intro' %>
<main id="main" data-turbolinks="false">
  <%= render 'about' %>
  <%# <%= render 'past_nuansa' %>
  <%# <%  render 'testimonials' %>
  <%# <%= render 'partners' %>
  <%# <%= render 'faq' %>
  <%# <%  render 'buy_tickets' %>
  <%# <%= render 'contact_us' %>
</main>
