<%= render 'welcome/index-partials/intro' %>
<main id="main">
  <%= render 'welcome/index-partials/about_us' %>
  <%= render 'welcome/index-partials/past_nuansa' %>
  <%= render 'welcome/index-partials/testimonials' %>
  <%= render 'welcome/index-partials/partners' %>
  <%= render 'welcome/index-partials/faq' %>
  <%= render 'welcome/index-partials/buy_tickets' %>
</main>
