<% provide(:custom_css, 'events/overview') %>

<div class="content-box">
  <div id="fullpage">
    <% @events.each do |event| %>
      <div class="content section">
        <div class="content-container">
          <h4><%= event.year %></h4>
          <h3>
            <%= event.title %><br> 
            <%= event.subtitle %><br>
          </h3>
          <% if event.logo.attached? %>
            <br> <%= event.logo.attached? ? image_tag(event.logo, class: 'logo', alt: 'Tasasek') : '' %> <br>
          <% end %>
          <br>
          <p><%= event.overview %></p>
        </div>
      </div>
    <% end %>
    <div style="clear: both;"></div>
  </div>
</div>

<%= javascript_include_tag('events/overview.js') %>
