<% provide(:custom_css, 'event-components/single-page') %>

<section id="intro" class="section-container">
  <div class="intro-container">  
    <div id="introCarousel" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="background"><%= image_tag('nuansa_logo/2018.jpg', class: 'carousel-background', alt: 'Tasasek') %></div>
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animated fadeInDown">Alstar web studio</h2>
              <p class="animated fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
              <a href="https://www.youtube.com/watch?v=kENe1-ZcBFs" class="venobox btn-get-started animated fadeInUp" data-vbtype="video" data-autoplay="true">Trailer</a>
            </div>
          </div>
        </div>
        
        <div class="item">
          <div class="background"><%= image_tag('nuansa_logo/2017.jpg', class: 'carousel-background', alt: 'Galigo') %></div>
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animated fadeInDown">Creativity and technology</span></h2>
              <p class="animated fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
              <a href="https://www.youtube.com/watch?v=kENe1-ZcBFs" class="venobox btn-get-started animated fadeInUp" data-vbtype="video" data-autoplay="true">Trailer</a>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="background"><%= image_tag('nuansa_logo/2015.jpg', class: 'carousel-background', alt: 'Flowers of Asmat') %></div>
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animated fadeInDown">Sequi ea ut et est quaerat</span></h2>
              <p class="animated fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
              <a href="https://www.youtube.com/watch?v=kENe1-ZcBFs" class="venobox btn-get-started animated fadeInUp" data-vbtype="video" data-autoplay="true">Trailer</a>
            </div>
          </div>
        </div>
      </div>

      <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon fa fa-angle-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon fa fa-angle-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>

<section id="info" class="section-container">
  <div class="row">
    <div class="col-lg-6 col-md-12 description">
    	<div class="title">
        Description
      </div>
      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dui id ornare arcu odio ut. Tempus egestas sed sed risus pretium quam vulputate dignissim. Venenatis cras sed felis eget velit aliquet sagittis id consectetur. Urna id volutpat lacus laoreet non curabitur gravida arcu. Vitae justo eget magna fermentum iaculis eu non diam. Ornare arcu odio ut sem. Urna et pharetra pharetra massa massa ultricies mi quis hendrerit. Purus sit amet volutpat consequat mauris. Feugiat pretium nibh ipsum consequat nisl vel pretium. Tellus mauris a diam maecenas sed. Morbi tristique senectus et netus et malesuada fames. Dui id ornare arcu odio. Purus faucibus ornare suspendisse sed nisi lacus sed viverra tellus.
      </div>
    </div>
    <div class="col-lg-6 col-md-12 synopsis">
    	<div class="title">
        Synopsis
      </div>
      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dui id ornare arcu odio ut. Tempus egestas sed sed risus pretium quam vulputate dignissim. Venenatis cras sed felis eget velit aliquet sagittis id consectetur. Urna id volutpat lacus laoreet non curabitur gravida arcu. Vitae justo eget magna fermentum iaculis eu non diam. Ornare arcu odio ut sem. Urna et pharetra pharetra massa massa ultricies mi quis hendrerit. Purus sit amet volutpat consequat mauris. Feugiat pretium nibh ipsum consequat nisl vel pretium. Tellus mauris a diam maecenas sed. Morbi tristique senectus et netus et malesuada fames. Dui id ornare arcu odio. Purus faucibus ornare suspendisse sed nisi lacus sed viverra tellus.
    </div>
  </div>
</section>

<section id="partners" class="section-container">
  <div class="row">
    <div class="col-lg-12 col-md-12 sponsors">
      <div class="title">
        Sponsors
      </div>
      <div class="content">
        <div class="no-gutters partners-wrap clearfix justify-content-center wow fadeInUp">
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="partners-logo">
              <%= image_tag("clients/client-1.png") %>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="partners-logo">
              <%= image_tag("clients/client-2.png") %>
            </div>
          </div>
        
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="partners-logo">
              <%= image_tag("clients/client-3.png") %>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="partners-logo">
              <%= image_tag("clients/client-4.png") %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-12 supported-by">
    	<div class="title">
        Supported By
      </div>
      <div class="content">
        <div class="no-gutters partners-wrap clearfix justify-content-center wow fadeInUp">
          <div class="col-lg-6 col-md-12 col-xs-12">
            <div class="partners-logo">
              <%= image_tag("clients/client-1.png", class: "img-fluid") %>
            </div>
          </div>
          
          <div class="col-lg-6 col-md-12 col-xs-12">
            <div class="partners-logo">
              <%= image_tag("clients/client-2.png", class: "img-fluid") %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 media-partners">
      <div class="title">
        Media Partners
      </div>
      <div class="content">
        <div class="no-gutters partners-wrap clearfix justify-content-center wow fadeInUp">
          <div class="col-lg-6 col-md-12 col-xs-12">
            <div class="partners-logo">
              <%= image_tag("clients/client-1.png", class: "img-fluid") %>
            </div>
          </div>
          
          <div class="col-lg-6 col-md-12 col-xs-12">
            <div class="partners-logo">
              <%= image_tag("clients/client-2.png", class: "img-fluid") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="gallery" class="section-container">
  <div class="row">
    <div class="title">
      Our Gallery
    </div>
    <div class="content">
      <div class="row no-gutters">
        <div class="col-lg-3 col-md-4">
          <div class="photo-gallery">
            <%= link_to image_tag("gallery/1.jpg", class: "img-fluid"), image_url("1.jpg"), class: "venobox", data: { gall: "photo-gallery" } %>
          </div>
        </div>
        
        <div class="col-lg-3 col-md-4">
          <div class="photo-gallery">
            <%= link_to image_tag("gallery/1.jpg", class: "img-fluid"), image_url("1.jpg"), class: "venobox", data: { gall: "photo-gallery" } %>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="photo-gallery">
            <%= link_to image_tag("gallery/1.jpg", class: "img-fluid"), image_url("1.jpg"), class: "venobox", data: { gall: "photo-gallery" } %>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="photo-gallery">
            <%= link_to image_tag("gallery/1.jpg", class: "img-fluid"), image_url("1.jpg"), class: "venobox", data: { gall: "photo-gallery" } %>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="photo-gallery">
            <%= link_to image_tag("gallery/1.jpg", class: "img-fluid"), image_url("1.jpg"), class: "venobox", data: { gall: "photo-gallery" } %>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="photo-gallery">
            <%= link_to image_tag("gallery/1.jpg", class: "img-fluid"), image_url("1.jpg"), class: "venobox", data: { gall: "photo-gallery" } %>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="photo-gallery">
            <%= link_to image_tag("gallery/1.jpg", class: "img-fluid"), image_url("1.jpg"), class: "venobox", data: { gall: "photo-gallery" } %>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="photo-gallery">
            <%= link_to image_tag("gallery/1.jpg", class: "img-fluid"), image_url("1.jpg"), class: "venobox", data: { gall: "photo-gallery" } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
