<section id="admin-form" class="section-container">
  <div class="row">
    <div class="title">
      Edit Sponsor for NUANSA <%= @event.year %>
    </div>
    <div class="content">
      <%= render 'form', sponsor: @sponsor, target_url: admin_event_sponsor_path %>

      <br><br>
      
      <div class="row">
        <div class="col-lg-3">
          <%= link_to "Event Menu", admin_events_path %>
        </div>
        <div class="col-lg-3">
          <%= link_to "Show Event", admin_event_path(@event) %>
        </div>
        <div class="col-lg-3">
          <%= link_to 'Sponsors', admin_event_sponsors_path(@event) %>
        </div>
        <div class="col-lg-3">
          <%= link_to 'Preview', admin_event_sponsor_path(@event, @sponsor) %>
        </div>
      </div>
    </div>
  </div>
</section>
