<% provide(:custom_css, 'admin/sponsors/index') %>

<section id="admin-sponsors-index" class="section-container">
  <div class="row">
    <div class="title">
      Sponsors for NUANSA <%= @event.year %>
    </div>
    <div class="content">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-md-6">
            <%= button_to("Back", admin_event_path(@event.year), method: "get", class: "btn btn-info") %>
          </div>
          <div class="col-md-6">
            <%= button_to("Add Sponsor", new_admin_event_sponsor_path(@event.year) , method: "get", class: "btn btn-info")%>
          </div>
        </div>

        <br><br>

        <div class="row">
          <% @sponsors.each do |sponsor| %>
            <div class="col-lg-3 col-md-4 col-xs-12">
              <div class="image-box-4-3">
                <div class="image-content">
                  <% if sponsor.logo.present? %>
                    <%= image_tag(serve_image_path(sponsor.logo)) %>
                  <% else %>
                    No Logo
                  <% end %>
                </div>
              </div>
              <div class="caption-name">
                <%= sponsor.name %>
              </div>
              <div class="caption-type">
                <%= sponsor.type %>
              </div>
              <div class="button">
                <%= button_to('Show', admin_event_sponsor_path(@event.year, sponsor), method: "get", class: "btn btn-info") %>
              </div>
              <div class="button">
                <%= button_to('Edit', edit_admin_event_sponsor_path(@event.year, sponsor), method: "get", class: "btn btn-info") %>
              </div>
              <div class="button">
                <%= button_to('Destroy', admin_event_sponsor_path(@event.year, sponsor),
                    method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-info") %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
