<section id="admin-show" class="section-container">
  <div class="row">
    <div class="title">
      Sponsor for NUANSA <%= @event.year %>
    </div>
    <div class="content">
      <div class="info-fields">
        <div class="row">
          <div class="col-lg-2 col-md-12 field-key">Sponsorship Type</div>
          <div class="col-lg-10 col-md-12 field-value"><%= @sponsor.type %></div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-12 field-key">Sponsor Name</div>
          <div class="col-lg-10 col-md-12 field-value"><%= @sponsor.name %></div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-12 field-key">Sponsor Link</div>
          <div class="col-lg-10 col-md-12 field-value">
           <%= @sponsor.link.blank? ? 'No Link' : link_to(nil, @sponsor.link, target: '_blank') %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-12 field-key">Logo</div>
          <div class="col-lg-10 col-md-12 field-value">
            <%= @sponsor.logo.present? ? image_tag(serve_image_path(@sponsor.logo), height: '100px') : 'NO LOGO' %>
          </div>
        </div>
      </div>

      <br><br>

      <div class="row">
        <div class="col-lg-3 col-md-3 col-xs-6">
          <%= link_to 'Event Menu', admin_events_path %>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-6">
          <%= link_to 'Show Event', admin_event_path(@event.year) %>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-6">
          <%= link_to 'Back to Sponsors', admin_event_sponsors_path(@event.year) %>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-6">
          <%= link_to "Edit", edit_admin_event_sponsor_path(@event.year, @sponsor) %>
        </div>
      </div>
    </div>
  </div>
</section>
