<%= form_with(model: ticket, local: true, url: admin_tickets_path) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited the ticket from being created:</h2>
      <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-fields">

    <div class="row">
      <div class="col-lg-12"></div>
      <div class="col-lg-2 col-md-12 field-key">
        <%= form.label :name, "Name" %>
      </div>
      <div class="col-lg-10 col-md-12 field-value">
        <%= form.text_field :name, required: true %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12"></div>
      <div class="col-lg-2 col-md-12 field-key">
        <%= form.label :email, "Email" %>
      </div>
      <div class="col-lg-10 col-md-12 field-value">
        <%= form.text_field :email, required: true %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12"></div>
      <div class="col-lg-2 col-md-12 field-key">
        <%= form.label :quantiy, "Quantity" %>
      </div>
      <div class="col-lg-10 col-md-12 field-value">
        <%= form.number_field :quantity, min: 1, max: 20, required: true %>
      </div>
    </div>
      
    <div class="row">
      <div class="col-lg-12">
        <%= form.submit 'Submit', class: "submit-button" %>      
      </div>
    </div>
    
  </div>
<% end %>
