<div class="info-fields">
  <div class="row">
    <div class="col-lg-2 col-md-12 field-key">Email</div>
    <div class="col-lg-10 col-md-12 field-value">
      <%= ticket.customer ? ticket.customer.email : 'Customer has been deleted' %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-12 field-key">Date Purchased</div>
    <div class="col-lg-10 col-md-12 field-value">
      <%= ticket.purchased_at.getlocal %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-12 field-key">Date Claimed</div>
    <div class="col-lg-10 col-md-12 field-value">
      <%= ticket.claimed? ? ticket.claimed_at.getlocal : 'Not yet claimed' %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-12 field-key">Claimed By</div>
    <div class="col-lg-10 col-md-12 field-value">
      <%= ticket.claimed? ? ticket.claimed_by : 'Not yet claimed' %>
    </div>
  </div>
  <% if current_user.has_role?(:superuser) && local_assigns[:show_token] %>
    <div class="row">
      <div class="col-lg-2 col-md-12 field-key">Claim Token</div>
      <div class="col-lg-10 col-md-12 field-value">
        <%= ticket.customer ? ticket.customer.claim_token : 'No associated customer' %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-lg-2 col-md-12 field-key">Note</div>
    <div class="col-lg-10 col-md-12 field-value">
      <%= ticket.note.empty? ? '-' : ticket.note %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-12 field-key">Confirmation Code</div>
    <div class="col-lg-10 col-md-12 field-value">
      <%= ticket.confirmation_code.empty? ? '-' : ticket.confirmation_code %>
    </div>
  </div>
</div>
