<h1>Admin Tickets</h1>

<%= button_to 'Buy Ticket (Mock Ticket)', admin_tickets_path %>

<br>

<table width=100% style="background-color: white">
  <thead>
    <tr style="border: 2px solid black">
      <th>User</th>
      <th>Date Purchased</th>
      <th>Date Claimed</th>
      <th>Claimed By</th>
      <th>Note</th>
      <th>Show</th>
      <% if current_user.has_role? :superuser %>
        <th>Claim Page</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr style="border: 2px solid black">
        <td><%= ticket.user ? ticket.user.username : 'User has been deleted' %></td>
        <td><%= ticket.created_at.getlocal %></td>
        <td><%= ticket.claimed? ? ticket.claimed_at.getlocal : 'Not yet claimed' %></td>
        <td><%= ticket.claimed? ? ticket.claimed_by : 'Not yet claimed' %></td>
        <td><%= ticket.note.empty? ? '-' : ticket.note %></td>
        <td>
          <%= link_to("Show", admin_ticket_path(ticket), class: "btn btn-info") %>
        </td>
        <% if current_user.has_role? :superuser %>
          <td>
            <%= link_to("Claim Page", admin_claim_ticket_path(claim_token: ticket.claim_token),
              class: "btn btn-info") %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
