<% provide(:custom_css, 'admin/gallery_photos/index') %>

<section id="admin-gallery-index" class="section-container">
  <div class="row">
    <div class="title">
      Gallery Photo for NUANSA <%= @event.year %>
    </div>
    <div class="content">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-md-6">
            <%= link_to "Back to event", admin_event_path(@event) %>
          </div>
          <div class="col-md-6">
            <%= link_to "Upload new image", new_admin_event_gallery_photo_path(@event) %>
          </div>
        </div>

        <br><br>

        <div class="row">
          <% @gallery_photos.each do |gallery_photo| %>
            <div class="col-lg-3 col-md-4 col-xs-12">
              <div class="photo-box">
                <div class="photo-content">
                  <%= image_tag(gallery_photo.image_link, width: "100%", height: "100%") %>
                </div>
              </div>
              <div class="delete-button">
                <%= link_to 'Delete', admin_event_gallery_photo_path(@event, gallery_photo),
                    method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
