<% provide(:custom_css, 'admin/gallery_photos/form') %>

<section id="admin-gallery-form" class="section-container">
  <div class="row">
    <div class="title">
      Add New Photo for NUANSA <%= @event.year %>
    </div>
    <div class="content">
      <%= render 'form', gallery_photo: @gallery_photo %>
      
      <br><br>
      
      <div class="row">
        <div class="col-lg-4 col-md-4 col-12-4">
          <%= link_to "Event Menu", admin_events_path %>
        </div>
        <div class="col-lg-4 col-md-4 col-12-4">
          <%= link_to "Event Show", admin_event_path(@event) %>
        </div>
        <div class="col-lg-4 col-md-4 col-12-4">
          <%= link_to "Gallery", admin_event_gallery_photos_path(@event) %>
        </div>
      </div>
    </div>
  </div>
</section>
