<section id="faq">
  <div class="container">

    <div class="section-header">
      <h2>FAQ</h2>
    </div>

    <div class="row">
      <div class="col">
          <ul id="faq-list">
            <% @faqs.each_with_index do |faq, i| %>
              <li class="wow fadeInUp" data-wow-delay=<%= "#{0.2 * (i + 1)}s" %>>
                <a data-toggle="collapse" class=collapsed href=<%= "#faq#{i + 1}" %> >
                  <p class="question"> <%= faq.question %> </p>
                  <i class="fa fa-minus-circle"></i></a>
                <div data-parent="#faq-list" class=collapse id=<%= "faq#{i + 1}" %> >
                  <p class="answer"> <%= faq.answer %> </p>
                </div>
              </li>
            <% end %>
          </ul>
      </div>
    </div>

  </div>

</section>