<section id="faq">
  <div class="container">

    <div class="section-header">
      <h2>FAQ</h2>
    </div>

    <div class="row">
      <div class="col">
          <ul id="faq-list">
            <% @faqs.each_with_index do |faq, i| %>
              <li class="wow fadeInUp" data-wow-delay=<%= "#{0.2 * (i + 1)}s" %>>
                <a data-toggle="collapse" href=<%= "#faq#{i + 1}" %> class="collapsed">
                  <%= faq.question %> <i class="fa fa-minus-circle"></i></a>
                <div id=<%= "faq#{i + 1}" %> class="collapse" data-parent="#faq-list">
                  <p> <%= faq.answer %> </p>
                </div>
              </li>
            <% end %>
          </ul>
      </div>
    </div>

  </div>

</section>