<section id="past-nuansa">
  <div class="container">
    <div class="row no-gutters mb-4">
      <div class="col-lg-12">
      </div>
      <div class="col-lg-6">
        <div class="card">
          <%= image_tag "mock_datas/past_nuansa_preview_0.jpg", class: "card-img" %>
          <div class="card-img-overlay title-visible">
            <div class="row align-items-center justify-content-center position-relative">
              <div class="col-lg-10 position-static">
                <h3 class="card-title text-center"><%= link_to "Tasasek: The Courage to Choose",  events_path(anchor: "nuansa2018"), class: "stretched-link" %></h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="card">
          <%= image_tag "mock_datas/past_nuansa_preview_1.jpg", class: "card-img" %>
          <div class="card-img-overlay">
            <div class="row align-items-center justify-content-center position-relative">
              <div class="col-lg-10 position-static">
                <h3 class="card-title text-center"><%= link_to "Galigo: The Chaos Within",  events_path(anchor: "nuansa2017"), class: "stretched-link" %></h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="card">
          <%= image_tag "mock_datas/past_nuansa_preview_2.jpg", class: "card-img" %>
          <div class="card-img-overlay">
            <div class="row align-items-center justify-content-center position-relative">
              <div class="col-lg-10 position-static">
                <h3 class="card-title text-center"><%= link_to "Flowers of Asmat",  events_path(anchor: "nuansa2015"), class: "stretched-link" %></h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="preview col-lg-6">
        <div class="card">
          <%= image_tag "mock_datas/past_nuansa_preview_3.jpg", class: "card-img" %>
          <div class="card-img-overlay">
            <div class="row align-items-center justify-content-center position-relative">
              <div class="col-lg-10 position-static">
                <h3 class="card-title text-center"><%= link_to "The Priyayi",  events_path(anchor: "nuansa2014"), class: "stretched-link" %></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-3 explore text-center">
        <%= link_to "Explore NUANSA", events_path, class: "btn" %>
      </div>
    </div>
  </div>
</section>