<section id="testimonials">
  <div class="container" class="wow fadeInUp">
    <div class="section-header">
      <h2>Testimonials</h2>
    </div>

    <div class="owl-carousel testimonials-carousel">
      <% @testimonies.each do |testimony| %>
        <div class="testimonial-item">
          <p>
            <%= image_tag("testimonials/quote-sign-left.png", class: "quote-sign-left") %>
            <%= testimony.testimony %>
            <%= image_tag("testimonials/quote-sign-right.png", class: "quote-sign-left") %>
          </p>
          <%= image_tag(serve_image_path(testimony.photo), class: "testimonial-img") %>
          <h3><%= testimony.name %></h3>
          <h4><%= testimony.profession %></h4>
        </div>
      <% end %>
    </div>
  </div>
</section><!-- #testimonials -->