<% provide(:custom_css, 'admin/users/index') %>

<section id="admin-users-index" class="section-container">
  <div class="row">
    <div class="title">
      User List
    </div>
    <div class="content">
      <div class="col-lg-12">
        <div class="row info-fields">
          <% @users.each do |user| %>
            <div class="col-lg-2 col-md-3 col-xs-12 field-item"><%= user.username %></div>
            <div class="col-lg-2 col-md-3 col-xs-12 field-item"><%= user.email %></div>
            <div class="col-lg-1 col-md-3 col-xs-6 field-item">
              <% if user.has_role? :admin %>
                admin
              <% else %>
                -
              <% end %>
            </div>
            <div class="col-lg-2 col-md-3 col-xs-6 field-item">
              <% if user.has_role? :superuser %>
                superuser
              <% else %>
                -
              <% end %>
            </div>
            <div class="col-lg-1 col-md-4 col-xs-4 field-item">
              <%= button_to('Show', admin_user_path(user), method: "get", class: "btn btn-info") %>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-4 field-item">
              <%= button_to('Privilege', edit_admin_user_path(user), method: "get", class: "btn btn-info") %>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-4 field-item">
              <%= button_to('Delete', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-info") %>
            </div>
          <% end %>
        </div>
        
        <br><br>

        <div class="row">
          <div class="col-lg-12" style="text-align: center;">
            <%= button_to("Back", admin_root_path, method: "get", class: "btn btn-info") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
