<% provide(:custom_css, 'admin/admin/index') %>

<section id="admin-home" class="section-container">
  <div class="row">
    <div class="title">
      Admin Menu List
    </div>
    <div class="content">
      <div class="action-list">
        <div class="row">
          <div class="col-lg-12"></div>
          <% if can?(:edit, User) %>
            <div class="col-lg-6 col-md-12">
              <div class="action-button">
                <%= link_to "Manage User", admin_users_path %>
              </div>
            </div>
          <% end %>
          <% if can?(:edit, Event) %>         
            <div class="col-lg-6 col-md-12">
              <div class="action-button">
                <%= link_to "Manage Event", admin_events_path %>
              </div>
            </div>
          <% end %>
          <% if can?(:edit, FrequentlyAskedQuestion) %>         
            <div class="col-lg-6 col-md-12">
              <div class="action-button">
                <%= link_to "Manage FAQ", admin_frequently_asked_questions_path %>
              </div>
            </div>
          <% end %>
          <% if can?(:edit, Testimony) %>         
            <div class="col-lg-6 col-md-12">
              <div class="action-button">
                <%= link_to "Manage Testimony", admin_testimonies_path %>
              </div>
            </div>
          <% end %>
          <% if can?(:edit, Ticket) %>
            <div class="col-lg-6 col-md-12">
              <div class="action-button">
                <%= link_to "Manage Ticket", admin_tickets_path %>
              </div>
            </div>
          <% end %>
          <% end %>     
            <div class="col-lg-6 col-md-12">
              <div class="action-button">
                <%= link_to "Email Blaster", admin_subscribers_path %>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
