<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
        </div>
        <div class="col-lg-4 col-md-12 footer-info">
          <%= image_tag("logo.png", alt: "NUANSA Cultural Productions") %>
        </div>
        <div class="col-lg-4 col-md-6 footer-links">
          <h4><font size=5>Useful Links</font></h4>
          <ul>
            <li><i class="fa fa-angle-right"></i><%= link_to "Home", root_path(anchor: "intro") %></li>
            <li><i class="fa fa-angle-right"></i><%= link_to "About Us", root_path(anchor: "about-us") %></li>
            <li><i class="fa fa-angle-right"></i><%= link_to "Testimonial", root_path(anchor: "testimonials") %></li>
            <li><i class="fa fa-angle-right"></i><%= link_to "Partners", root_path(anchor: "partners") %></li>
            <li><i class="fa fa-angle-right"></i><%= link_to "FAQ", root_path(anchor: "faq") %></li>
            <li><i class="fa fa-angle-right"></i><%= link_to "Past NUANSA", events_path %></li>
            <li><i class="fa fa-angle-right"></i><%= link_to "Buy Tickets", root_path(anchor: "buy-tickets") %></li>
          </ul>
        </font>
        </div>

        <div class="col-lg-4 col-md-6 footer-contact">
          <h4><font size=5>Contact Us</font></h4>
          <font size=3>
          <p>
            National University of Singapore <br>
            Yusof Ishak House, Level 3 <br>
            31 Lower Kent Ridge Road <br>
            Singapore 119078 <br>
            <br>
            <strong>Email:</strong> producer@nuansacp.com<br>
            <strong>Phone:</strong> (+65) 83351694 <br>
          </p>
          </font>
          <div class="social-links">
            <a href="https://www.facebook.com/nuansa.culturalproductions/" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/nuansacp/" class="instagram"><i class="fa fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>NUANSA Cultural Production</strong>. All Rights Reserved
    </div>
    <div class="credits">
      Design Powered by <%= link_to "BootstrapMade", "https://bootstrapmade.com/" %>
    </div>
  </div>
</footer>
