<!DOCTYPE html>
<html>
  <head>
    <title>NUANSA</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= stylesheet_link_tag    'font-awesome/css/font-awesome.min.css', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'animate/animate.min.css', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'jquery/jquery.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery/jquery-migrate.min.js', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'venobox/venobox.css', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'venobox/venobox.min.js', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'owlcarousel/owl.carousel.min.css', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'owlcarousel/owl.carousel.min.js', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'bootstrap_v3/bootstrap_v3.min.css', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'bootstrap/bootstrap.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'bootstrap/bootstrap.bundle.min.js', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'superfish/hoverIntent.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'superfish/superfish.min.js', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'easing/easing.min.js', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'wow/wow.min.js', 'data-turbolinks-track': 'reload' %>
    
    <%= stylesheet_link_tag    'fullpage/fullpage.css', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'fullpage/vendors/scrolloverflow.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'fullpage/fullpage.js', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'layouts/nav-menu.js', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'quill/quill.min.js', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'quill/quill.snow.css', 'data-turbolinks-track': 'reload' %>
    
    <% if is_admin_namespace %>
      <%= add_stylesheet('admin/shared') %>
    <% end %>

    <% if is_users_controller %>
      <%= add_stylesheet('users/shared') %>
    <% end %>
    
    <%= add_stylesheet(current_controller_name) %>
    <%= add_javascript(current_controller_name) %>
    <%= add_stylesheet(yield(:custom_css)) %>
    <%= add_javascript(yield(:custom_js)) %>
  </head>

  <body>
    <div data-turbolinks="false">
      <%= render 'layouts/header' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>

<script>
  <% if flash[:popup_alert].present? %>
      alert("<%= flash[:popup_alert] %>");
  <% end %>
  <% if flash[:error].present? %>
      alert("<%= flash[:error] %>");
  <% end %>
  <% if flash[:notice].present? %>
      alert("<%= flash[:notice] %>");
  <% end %>
</script>